* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaNerdFont";
    font-size: 16px;
    min-height: 0;
    margin: 0 8px;
}

window#waybar {
    background: #1e1e2e;
    border-bottom: 8px solid #1e1e2e;
    color: #cdd6f4;
}

#window {
    font-weight: bold;
    font-family: "Roboto";
}

button {
    all: unset;
    background-color: #85c1dc;
    color: #282828;
    border: none;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 8px solid #6fabc6;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

button.active {
    background: inherit;
    background-color: #9bd7f2;
    border-top: 3px solid #c9545d;
    border-bottom: 8px solid #85c1dc;
}

button:hover {
    background: inherit;
    background-color: #9bd7f2;
    border-bottom: 8px solid #7ab6d1;
}

#workspaces {
    padding: 0 2px;
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#custom-power, #custom-updates {
    color: #232634;
    font-weight: bold;
    background-color: #e78284;
    border-bottom: 8px solid #cf6c70;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
}

#clock {
    color: #232634;
    font-weight: bold;
    background-color: #a6d189;
    border-bottom: 8px solid #8fba73;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding: 0 10px;
}

#temperature {
    color: #232634;
    font-weight: bold;
    background-color: #81c8be;
    border-bottom: 8px solid #6ab1a7;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding: 0 10px;
}

#memory {
    color: #232634;
    font-weight: bold;
    background-color: #ca9ee6;
    border-bottom: 8px solid #b388cf;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding: 0 10px;
}

#cpu {
    color: #232634;
    font-weight: bold;
    background-color: #85c1dc;
    border-bottom: 8px solid #6fabc6;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding: 0 10px;
}

#custom-weather {
    color: #232634;
    font-weight: bold;
    background-color: #89dceb;
    border-bottom: 8px solid #6ca9ba;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
}

#wireplumber {
    color: #232634;
    font-weight: bold;
    background-color: #e5c890;
    border-bottom: 8px solid #ceb17a;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
}

#idle_inhibitor {
    color: #232634;
    font-weight: bold;
    background-color: #85c1dc;
    border-bottom: 8px solid #6fabc6;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding: 0 10px;
}

#idle_inhibitor:hover {
    background-color: #414559;
}

#tray {
    background-color: #ef9f76;
    border-bottom: 8px solid #d78963;
    border-radius: 5px;
    margin-left: 4px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 7px;
}


#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

tooltip {
  background-color: #181825;
  border: none;
  border-bottom: 8px solid #151521;
  border-radius: 10px;
}

tooltip decoration {
  box-shadow: none;
}

