
* {
    border: none;
    border-radius: 0;
    font-family: "IosevkaNerdFont";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#window {
    font-weight: bold;
    font-family: "IosevkaNerdFont";
    background-color: @surface0;
    margin: 5px 5px;
    padding: 0px 16px;
    border-radius: 0.4rem;
    opacity: 0.9;
}

#workspaces {
  border-radius: 0.4rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #wireplumber, #tray, #mode, #custom-weather, #custom-power, #idle_inhibitor {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @lavender;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}


#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 0.4rem 0.4rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}


#temperature {
    color: @sapphire;
}

#memory {
    color: @peach;
}

#cpu {
    color: @blue
  }

#custom-weather {
    color: @sky;}


#wireplumber {
  color: @maroon;
}

#idle_inhibitor {
    border-radius: 0.4rem 0px 0px 0.4rem;
    margin-left: 1rem;
    color: @mauve;
}

#idle_inhibitor:hover {
    background-color: #414559;
}

#tray {
  margin-right: 1rem;
  border-radius: 0.4rem;
}

#battery {
}

#battery icon {
    color: @green;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
}

#network.disconnected {
    background: @red;
}


tooltip {
  background-color: @surface0;
  border: none;
  border-radius: 10px;
}

tooltip decoration {
  box-shadow: none;
}
